@import 'header';
@import 'footer';
@import 'base/variables.scss';
@import 'base/extends';
@import 'base/mixins';

@font-face {
	font-family: 'robot-tipo';
	src: url('../Font/Classic\ Robot\ Condensed.otf');
}

/*Config basica comun a todos los html*/
* {
	margin: 0%;
	padding: 0%;
}

body {
	background-image: url('../Imagenes/fondo-estrellado-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.mi-color {
	font-family: 'robot-tipo';
	font-size: xx-large;
	list-style: none;
	text-decoration: none;
	@include color(whitesmoke);
	color: $typo-color;

	&:hover {
		transition: all 1s;
		font-size: 300%;
		text-decoration: underline;
		@include color(whitesmoke);
	}
	
}

h1 {
	font-family: 'robot-tipo';
	font-size: 240%;
	list-style: none;
	text-decoration: none;
	color: $typo-color;	
	justify-content: center;
	text-align: center;	
	@extend %mensaje;
	@include direction(column);
}

.item-text {	
 	text-align: center;		
}

p {	
	 display: flex;	
	 font-family: 'robot-tipo';
	 font-size: 160%;
	 color: $typo-color;
	 justify-content: center;
	 @extend %centrado;
	 @include direction(none);
}



.icon-size {
	transition: all 1s;
	width: 100px;
	height: 100px;
	&:hover {
		transform: scale(1.3);
	}
}

.logo-size {
	width: 200px;
	height: 200px;
}

/* Fin Arreglos comunes */

/* Imagenes Lunas e Inicio */

.ellos {
	margin: 20px;
}

.bloque-1 {
	@extend %bloques;
}
.bloque-2 {
	@extend %bloques;
}
.bloque-3 {
	@extend %bloques;

	margin-bottom: 100px;
}
.contenedor-imagenes {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	@include direction(column);
}
.lunas-img {
	width: 380px;
	display: inline-flex;
	transition: all 2s;
	animation-iteration-count: infinite;
	&:hover {
		transform: scale(1.3);
	}
}

/*Fin Imagenes Lunas*/

/* Seccion nosotros */
.nosotros {
	@extend %mensaje;	
	flex-direction: column;
}

.integrantes {
	margin: 40px;		
}

.desc {	
	text-align: center;
	display: flex;	
	margin: 40px;
}

.ellos {
	margin: 20px;
}

/* Fin Seccion nosotros */

/*Arreglos Seccion Videos */

.videos-cara {
	width: 100%;
	@extend %mensaje;
}

/*Fin Arreglos Seccion Videos */

/*Seccion Historia*/
.grid-container {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
	align-items: center;	
	text-align: center;
	margin: 40px;
}

.fotos-histo {
	width: 100%;
}

/*Fin Seccion Historia*/


/* Ajuste del carrousel */
.margen-car {
	margin-left: 14px;
	margin-right: 14px;
}
/* Fin Ajuste del carrousel */

/* Disclaimer */
.disclaimer {
	display: none;
}
/* Fin Disclaimer */

/* Media Querys */
@media screen and (max-width: 480px) {
	ul {
		flex-direction: column;
	}
	footer {
		flex-direction: column;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0px;		
	}
	
	.bloque-1 {
		flex-direction: column;
	}
	.bloque-2 {
		flex-direction: column;
	}
	.bloque-3 {
		flex-direction: column;
	}
	
	.item-text {
		text-align: center;
		margin: 20px;
	}
	.ellos {
		margin: 20px;
	}
	
	.texto-bienvenida {
		margin-left: 20px;
		margin-right: 20px;
	}

	/* Seccion nosotros */
	.integrantes {
		margin: 0px;	
		width: 100%;
	}
	.nosotros {
		flex-direction: column;
		
	}
	.desc {
		flex-direction: column;
		align-items: center;
		margin: 14px;
		
	}
	/* Seccion nosotros */
	



}
@media screen and (min-width: 481px) and (max-width: 980px) {
	ul {
		flex-direction: column;
	}
	footer {
		flex-direction: column;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
		width: 100%; 
		margin: 0px;
	}
	.lunas-inicio {
		width: 100%;
	}
	.grid-item {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.bloque-1 {
		flex-direction: column;
	}
	.bloque-2 {
		flex-direction: column;
	}
	.bloque-3 {
		flex-direction: column;
	}
	
	.item-text {
		text-align: center;
		margin: 20px;
	}
	.ellos {
		margin: 20px;
		
	}
	
	.texto-bienvenida {
		margin-left: 40px;
		margin-right: 40px;
	}

	/* Seccion nosotros */
	.integrantes {
		margin: 0px;	
		width: 100%;
	}

	.desc {
		flex-direction: column;
		align-items: center;
		margin: 14px;
		
	}
	.nosotros {
		flex-direction: column;
		
	}
	/* Fin seccion nosotros */
	
	
}

@media screen and (min-width: 981px) and (max-width: 1545px) {

	.nosotros {
		flex-direction: column;
		
	}

	
	.desc {
		flex-direction: column;
		align-items: center;
		margin: 14px;
		
	}

	.integrantes {
		margin: 0px;	
		width: 100%;
	}

}




